.square {
	width: 10px;
	height: 10px;
	position: absolute;
}
#square{
	background-color: yellow;
	animation: move 0.5s ease-in-out 0s infinite alternate-reverse;
	/*transition: ease-in-out,width 2s, height 2s, transform 2s, background-color 3s;*/
}
#square2{
	background-color: blue;
	animation: move2 0.5s ease-in-out 0s infinite alternate-reverse;
}
#square3{
	background-color: purple;
	animation: move3 0.5s ease-in-out 0s infinite alternate-reverse;
}
#square4 {
	background-color: chartreuse;
	animation: move4 0.5s ease-in-out 0s infinite alternate-reverse;
}
#square5 {
	background-color: red;
	animation: move5 0.5s ease-in-out 0s infinite alternate-reverse;
}
#square6 {
	background-color: greenyellow;
	animation: move6 0.5s ease-in-out 0s infinite alternate-reverse;
}
#square7 {
	background-color: red;
	animation: move7 0.5s ease-in-out 0s infinite alternate-reverse;
}
#square8 {
	background-color: yellow;
	animation: move8 0.5s ease-in-out 0s infinite alternate-reverse;
}
#square9 {
	background-color: black;
	animation: move9 0.5s ease-in-out 0s infinite normal;
}

@keyframes move{
	0% {
		transform: translate(-200%, -200%);
		
	}
	50% {
		background-color: orange;
	}
	100%{
		transform: translate(200%, 200%);
		background-color: red;
	}
}
@keyframes move2 {
	0% {
		transform: translate(200%, -200%);

	}

	50% {
		background-color: aqua;
	}

	100% {
		transform: translate(-200%, 200%);
		background-color: greenyellow;
	}
}
@keyframes move3 {

	0% {
		transform: translate(0%, -200%);

	}

	50% {
		background-color: violet;
	}

	100% {
		transform: translate(0%, 200%);
		background-color: red;
	}
}
@keyframes move4 {
	0% {
		transform: translate(-200%, 0%);

	}

	50% {
		background-color: greenyellow;
	}

	100% {
		transform: translate(200%, 0%);
		background-color: yellow;
	}
}
@keyframes move5 {
	0% {
		transform: translate(200%, 200%);
	}

	50% {
		background-color: orange;
	}

	100% {
		transform: translate(-200%, -200%);		
		background-color: yellow;
	}
}
@keyframes move6 {
	0% {
		transform: translate(-200%, 200%);
	}

	50% {
		background-color: aqua;
	}

	100% {
		transform: translate(200%, -200%);
		background-color: blue;
	}
}
@keyframes move7 {

	0% {
		transform: translate(0%, 200%);

	}

	50% {
		background-color: violet;
	}

	100% {
		transform: translate(0%, -200%);
		background-color: purple;
	}
}
@keyframes move8 {
	0% {
		transform: translate(200%, 0%);

	}

	50% {
		background-color: greenyellow;
	}

	100% {
		transform: translate(-200%, 0%);
		background-color: chartreuse;
	}
}
@keyframes move9 {

	0%,
	100% {
		transform: translate(250%, 0%);
	}
	5% {
		transform: translate(200%, 62.5%);
	}
	10% {
		transform: translate(150%, 125%);
	}
	15% {
		transform: translate(100%, 187.5%);
	}
	20% {
		transform: translate(50%, 250%);
	}
	25% {
		transform: translate(0%, 250%);
	}
	30% {
		transform: translate(-50%, 250%);
	}
	35% {
		transform: translate(-100%, 187.5%);
	}
	40% {
		transform: translate(-150%, 125%);
	}
	45% {
		transform: translate(-200%, 62.5%);
	}
	50% {
		transform: translate(-250%, 0%);
	}
	55% {
		transform: translate(-200%, -62.5%);
	}
	60% {
		transform: translate(-150%, -125%);
	}
	65% {
		transform: translate(-100%, -187.5%);
	}
	70% {
		transform: translate(-50%, -250%);
	}
	75% {
		transform: translate(0%, -250%);
	}
	80% {
		transform: translate(50%, -250%);
	}
	85% {
		transform: translate(100%, -187.5%);
	}
	90% {
		transform: translate(150%, -125%);
	}
	95% {
		transform: translate(200%, -62.5%);
	}
}

body{
	width:  100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
html{
	width: 100%;
	height: 100%;
}
/*
.square:hover {
	background-color: orange;
	width: 240px;
	height: 240px;
	transform: rotate(720deg) ;
	
}

*/